.mobile-page {
	height: 100%;
}

.mobile-page {
	display: flex;
	flex-direction: column;
}

nav {
	height: 150px !important;
	background-image: url('../css/images/top-bg.jpg') !important;
	background-size: cover;
	background-repeat: none;
}

.top-nav {
	flex-direction: row;
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 60px;
}

.header-img {
	height: 150px;
}

.top-nav i {
	font-size: 80px !important;
	padding-top: 50px;
}

.hearts {
	font-size: 40px !important;
	color: #fff !important ;
}

.badge {
	background-color: transparent !important;
}

.welcome {
	margin-top: 100px;
}
.search-bar {
	margin-top: 70px;
}

.search-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	height: 150px;
}

.search-form i {
	font-size: 50px;
}

.input-field {
	width: 80%;
	margin-left: 50px;
}

#search {
		border-bottom: none !important;
}

.sec2 {
		margin-top: 100px;
}

.feat-stores {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top:30px;
}

.feat-stores h2 {
	margin-bottom: 40px;
}

.store {
	width: 31%;
}

.feat-stores img {
	width: 100%;
	border: 2px solid black;
}

.swipe-next {
	height: 100%;
}

.swipe-next i {
	font-size: 100px;
	padding-top: 70px;
}

.shared-coupons {
	margin-top: 100px;
}
.shared-coupons img {
	width: 100%;
}

.shared-coupons h2 {
	padding-bottom: 20px;
}

.view-btn {
	width: 100%;
	height: 100px;
	font-size: 40px;
	padding-top: 25px;
}

.available-coupons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	height: 1000px;
}

.arrival-message {
	margin-top: 100px;
}

.arrival-message h1 {
	text-align: center;
	margin-bottom: 100px;
}

.arrival-message h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
}

.arrival-message img {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.binder-head {
	margin-top: 60px;
}

.give-me {
	margin-bottom: 20px;
}

.store-img {
	width: 50%;
	margin: auto;
}

.store-img img {
	width: 100%;
}


.take-head {
	margin-top: 80px;
	margin-bottom: 40px;
}

.a-coupon {
	height: 30%;
	margin-bottom: 30px;
}

.a-coupon i {
	height: 100%;
	font-size: 120px;
	color: #ff8a65;
	border: 3px solid white;
	border-top: 70px solid white;
}

.a-coupon i:active {
	color: #ff1744;
}

.a-coupon img {
	margin-left: -10px;
	width: 100%;
	height: 100%;
}

.a-text {
	margin-top: 25px;
}

.bottom-nav {
	position:fixed;
	bottom: 0;
	width: 100%;
}

.bottom-nav-cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	padding-left: 60px;
	padding-right: 60px;
}

a {
	color: black;
}

.btn-large {
	border:none;
}

.redeemed {
	margin-top: 50px;
	margin-bottom: 50px;
}

.cancel-re {
	color: #757575;
}

.barcode,
.tomato-coupon {
	width: 100%;
}

.coupon-using {
	border: 9px dashed #757575;
	margin-top: 100px;
}

.redeem {
	text-align: center;
}

.bottom-nav i {
	font-size: 80px !important;
	padding-top: 50px;
}
